<app-header></app-header>
<!-- Modal Search -->
<div>
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="../../assets/cozastore-master/images/icons/icon-close2.png" alt="CLOSE">
            </button>

            <form class="wrap-search-header flex-w p-l-15">
                <button class="flex-c-m trans-04">
                    <i class="zmdi zmdi-search"></i>
                </button>
                <input class="plh3" type="text" name="search" placeholder="Search..." #input_search required>
            </form>
        </div>
    </div>
</div>
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        
       
    <div class="d-flex justify-content-center bd-highlight mb-3">
        <div class="row isotope-grid">
            <div class="d-flex justify-content-center" style="height: 200px; margin-top: 100px;">
                <h1>Page Not Found</h1>
            </div>
        
        
        
        </div>
    </div>

        <!-- Load more -->
        
    </div>
</div>
<app-footer></app-footer>
